fastapi
uvicorn
sqlalchemy
chromadb
llama-index
httpx
pydantic
pydantic-settings
scikit-learn
# NOTE: transformers package installs all nvidia cuda packages stuff
transformers
sentence_transformers
ragas
llama_cpp_python
