fastapi
uvicorn
sqlalchemy
chromadb
llama-index
httpx
pydantic
pydantic-settings
scikit-learn
transformers
# NOTE: sentence_transformers package installs torch and all nvidia cuda packages stuff
sentence_transformers
ragas
llama_cpp_python
ruff
pytest
